/*GLOBAL*/
button{
    color: white;
    font-size: 15px;
    background:rgb(0, 110, 255);
    border:0;
    padding: 10px 24px;
}
.highlight{
    color:red;
    font-weight: bold;
}

.form{
    background-color: white;
    position: absolute;
    height: 500px;
    widows: 500px;
    top:30%;
    left:40%;
    margin-top:-130px;
    margin-left:-130px;
    margin-bottom:15%;
}

form{
    
    border:solid black;
    padding:15px;
    font-size:120%;
    color:black;
}

.bg{
    background-image: url('../img/img14.jpg');
}